PORT=3000
FRONTEND_URL=http://localhost:8090

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=desa_induk

JWT_SECRET=
JWT_EXPIRES_IN=8h

ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_EMAIL=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=