# Database
DB_HOST=db
DB_PORT=3306
DB_DATABASE=opensid
DB_USERNAME=opensid
DB_PASSWORD=opensid_secret

# MySQL root password
MYSQL_ROOT_PASSWORD=root_secret

# Sender Config
DESA_KODE=
WEBHOOK_TOKEN=
WEBHOOK_URL=http://receiver:3000/api/webhook
WEBHOOK_TIMEOUT=10
MAX_RETRY=5
POLL_INTERVAL=3